.rule-chains-page {
    margin-top: 40px;
    padding: 20px;
  }
  
  .rule-chains-page h2 {
    margin-bottom: 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #dee2e6; /* Border color for the table */
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
    background-color: white;
  }
  
  .custom-table th {
    background-color: #f8f9fa;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 8px; /* Round the corners of the buttons */
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .create-button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .create-button:hover {
    opacity: 0.8;
  }
  
  .edit-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0069b4;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .delete-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .back-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    opacity: 0.8;
  }
  