/* App and general styling */
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button and input styling */
button {
  background-color: rgb(4,108,180);
  color: white;
  border-radius: 4px;
}

input {
  border-radius: 2px;
}

/* Main content styling */
.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar styling */
.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 60px;  /* Adjust the top position to be below the header */
  bottom: 0;
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
  z-index: 1000;  /* Ensure sidebar is above other content */
}

.sidebar h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #f0f0f0;
}

.sidebar ul li a .icon {
  margin-right: 10px;
  font-size: 18px;
  color: #243c70; /* Set the icon color to blue */
}

/* Active link styling */
.sidebar ul li a.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.sidebar ul li a.active .icon {
  color: #0069b4; /* Ensure active icon color remains blue */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
}

li.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

/* Content styling */
.content {
  flex: 1;
  margin-left: 250px;
  margin-top: 60px;
  overflow-y: auto;
  padding: 20px;
}

/* Toolbar styling */
.toolbar {
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
}

.toolbar button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Canvas and node styling */
.canvas {
  width: 100%;
  height: 600px;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}



.ruleChainsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvasContainer {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
  height: 400px; 
}

.canvas-container {
  width: 100%;
  height: 500px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;  /* Add rounded corners */
  background-color: #f0f0f0;  /* Set the background color to gray */
  overflow: visible; /* Allow overflow to be visible */
}

.canvas-area {
  flex: 1;
  height: 100vh;
  border-left: 1px solid #ccc;
}

/* Upload sidebar styling */
.upload-sidebar {
  width: 300px;
  background-color: #f8f9fa;
  border-left: 1px solid #ccc;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(233, 50, 50, 0.1);
}

/* Header styling */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #24346c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1001;  /* Ensure header is above other content */
}

.header-left .logo {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #24346c;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropbtn i {
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.language-button {
  background-color: #24346c;
  color: white;
  border: none;
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}

.user-icon {
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}

/* RuleChains styling */
.rulechains-container {
  display: flex;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.nodes-sidebar-container {
  width: 200px;
  margin-right: 40px;
  /*margin-left: 20px;*/
}

.canvas-container {
  flex: 1;
  height: 80vh; /* Adjust the height as needed */
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.modal-save-btn {
  margin-top: 20px; /* Adjust the value as needed */
}

